absl-py==2.1.0
anyio==4.4.0
asttokens==2.4.1
astunparse==1.6.3
autopep8==2.3.1
backcall==0.2.0
cachetools==5.5.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
distlib==0.3.8
executing==2.1.0
filelock==3.16.0
flatbuffers==24.3.25
fonttools==4.53.1
gast==0.6.0
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
grpcio==1.66.1
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.2
idna==3.8
ipykernel==6.29.5
ipython==8.27.0
jax==0.4.31
jedi==0.19.1
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==3.5.0
kiwisolver==1.4.7
libclang==18.1.1
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numpy==2.1.1
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pickleshare==0.7.5
Pillow==10.4.0
pipenv==2024.0.1
platformdirs==4.3.2
prompt-toolkit==3.0.47
protobuf==5.28.0
psutil==6.0.0
pure-eval==0.2.3
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycodestyle==2.12.1
Pygments==2.18.0
pyparsing==3.1.4
python-1inch==0.0.2
python-dateutil==2.9.0.post0
python-telegram-bot==21.5
pytz==2024.2
pywin32==306
pyzmq==26.2.0
requests==2.32.3
requests-oauthlib==2.0.0
rfc3986==2.0.0
rsa==4.9
scikit-learn==1.5.1
scipy==1.14.1
six==1.16.0
sniffio==1.3.1
stack-data==0.6.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.17.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
threadpoolctl==3.5.0
tornado==6.4.1
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.4
virtualenv-clone==0.5.7
wcwidth==0.2.13
Werkzeug==3.0.4
wrapt==1.16.0
