aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
appdirs==1.4.4
APScheduler==3.9.1.post1
argcomplete==2.1.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
autocommand==2.2.2
Automat==22.10.0
Babel==2.10.3
backcall==0.2.0
Beaker==1.12.1
beautifulsoup4==4.11.2
blivet==3.7.0
blivet-gui==2.4.0
Bottleneck==1.3.2
Brlapi==0.8.4
Brotli==1.0.9
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.1.0
comm==0.1.2
constantly==15.1.0
contourpy==1.0.7
cryptography==39.0.1
cupshelpers==1.0
cycler==0.11.0
dasbus==1.7
dbus-python==1.3.2
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
deluge==2.1.1
distlib==0.3.6
distro==1.7.0
entrypoints==0.3
et-xmlfile==1.1.0
executing==1.2.0
fb-re2==1.0.7
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.9.1
fonttools==4.37.2
fortnite-api==2.5.4
fros==1.1
frozenlist==1.3.3
fs==2.4.16
fsspec==2022.11.0
GeoIP==1.3.2
gpg==1.17.0
greenlet==1.1.2
gssapi==1.7.3
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httpx==0.23.3
humanize==4.6.0
hyperlink==21.0.0
idna==3.3
incremental==22.10.0
inflect==6.0.2
ipykernel==6.21.3
ipython==8.11.0
irc==20.1.0
jaraco.classes==3.2.3
jaraco.collections==3.8.0
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.logging==3.1.2
jaraco.stream==3.0.3
jaraco.text==3.11.1
jdcal==1.4.1
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jupyter_client==8.0.3
jupyter_core==5.2.0
kiwisolver==1.4.4
koji==1.31.1
langtable==0.0.61
libcomps==0.1.18
libtorrent==2.0.8
lxml==4.9.2
lz4==4.3.2
Mako==1.2.4
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mercurial==6.2.3
more-itertools==9.1.0
multidict==6.0.4
munkres==1.1.4
nest-asyncio==1.5.6
netifaces==0.11.0
nftables==0.1
numexpr==2.8.4
numpy==1.24.2
odfpy==1.4.1
olefile==0.46
openpyxl==3.1.2
packaging==23.0
pandas==1.5.3
pandas-datareader==0.10.0
parso==0.8.3
Paste==3.5.0
pexpect==4.8.0
pickleshare==0.7.5
pid==3.0.4
Pillow==9.4.0
pipenv==2022.5.2
platformdirs==3.1.0
ply==3.11
productmd==1.35
progressbar2==3.53.2
prompt-toolkit==3.0.38
psutil==5.9.4
psycopg2==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycparser==2.21
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.2
pydantic==1.10.6
pyenchant==3.2.2
pygame==2.2.0
pygit2==1.11.1
Pygments==2.14.0
PyGObject==3.42.2
pygpu==0.7.6
pykickstart==3.45
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
PyQt5==5.15.9
PyQt5-sip==12.11.1
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-meh==0.50
python-snappy==0.6.1
python-telegram-bot==20.0
python-utils==3.1.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyudev==0.23.2
pyxdg==0.27
PyYAML==6.0
pyzmq==25.0.0
QtPy==2.1.0
regex==2022.10.31
rencode==1.0.6
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
rfc3986==1.5.0
rpm==4.18.0
rpmautospec==0.3.2
scikit-learn==1.2.2
SciPy==1.10.1
selinux==3.4
sepolicy==3.4
service-identity==21.1.0
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.0
sos==4.4
soupsieve==2.4
SQLAlchemy==2.0.5.post1
stack-data==0.6.2
systemd-python==235
tables==3.7.0
tabulate==0.9.0
Tempita==0.5.2
tempora==5.1.0
Theano-PyMC==1.1.2
threadpoolctl==3.1.0
tornado==6.2
traitlets==5.9.0
Twisted==22.10.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
virtualenv==20.15.1
virtualenv-clone==0.5.7
wcwidth==0.2.6
webencodings==0.5.1
xarray==2023.2.0
xlrd==2.0.1
XlsxWriter==3.0.8
xlwt==1.3.0
yarl==1.8.2
zope.interface==5.4.0
zstandard==0.20.0
